<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="js/infoSummoner.js"></script>
  <title>legend.gg</title>
</head>
<body>
<header>
  <div class="logo">
    <h1><a href="/">LEGEND.GG</a></h1>
  </div>
  <div class="search-container">
    <input type="text" id="summonerName" placeholder="소환사명을 입력하세요">
    <button onclick="searchSummoner()" >검색</button>
  </div>
</header>
<main id="mainHtml">
  <section>
    <div class="info-container">
      <div class="icon-container">
        <img id="infoSummonerIcon" src="">
      </div>
      <div class="summoner-info">
        <p id="infoSummonerName"></p>
        <p id="infoSummonerLevel"></p>
      </div>
      <div class="summoner-tier">
        <p id="infoSummonerSoloTier"></p>
        <p id="infoSummonerSoloWL"></p>
        <p id="infoSummonerFreeTier"></p>
        <p id="infoSummonerFreeWL"></p>
      </div>
    </div>
  </section>
  <section class="game-info">
    <div class="info-container" id="progressMatch">
      <p>인게임 정보</p>
    </div>
  </section>
  <section class="match-history">
    <div class="info-container">
      <p>대전 기록</p>
    </div>
  </section>
</main>
</body>
</html>
