<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/summoner.js"></script>
  <script src="js/axios.js"></script>
  <title>legend.gg</title>
</head>
<body>
<header>
  <div class="logo">
    <h1><a href="/">LEGEND.GG</a></h1>
  </div>
  <div class="search-container">
    <input type="text" id="summonerName" placeholder="소환사명을 입력하세요">
    <button onclick="searchSummoner()" >검색</button>
  </div>
</header>
<main>
  <section class="home">
    <div class="search-container">
      <h5>결과창</h5>
    </div>
  </section>
</main>
</body>
</html>
